<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
    <context:component-scan base-package="info.gaofei.rabbitmq.mq">
        <!-- 细化扫描粒度 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>


    <!-- 连接服务器配置 -->
    <rabbit:connection-factory id="connectionFactory" host="192.168.1.223"
                               username="gaofei" password="123456"
                               port="5672" channel-cache-size="10"/>

    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- queues队列声明 可以指定多个-->
    <!-- 发送通知队列 发送的时候指定route为下面的name的值，就会发送到指定的队列，然后有它相关联的消费者消费-->
    <!-- id用于和下面的消费者关联，name用于指定路由吧类似这样-->
    <rabbit:queue id="aQueue" name="a"/>
    <rabbit:queue id="bQueue" name="b"/>
    <rabbit:queue id="cQueue" name="c"/>
    <rabbit:queue id="other" name="o"/>

    <!-- 交换机和队列通过routingKey绑定 -->
    <!-- direct模式不支持routingKey通配，性能优于topic -->
    <!--和上面的queue配置有关，下面queue的值必须是上面的queue中的id-->
    <rabbit:topic-exchange id="mqExchange" name="myRabbit" durable="false" auto-delete="true">
        <rabbit:bindings>
            <rabbit:binding queue="a" pattern="a.#"></rabbit:binding>
            <rabbit:binding queue="b" pattern="*.b.*"></rabbit:binding>
            <rabbit:binding queue="c" pattern="other.other"></rabbit:binding>
            <rabbit:binding queue="o" pattern="other.other"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:topic-exchange>


    <!-- 消息转换器 生产的数据转换后存入队列   继承AbstractMessageConverter-->
    <bean id="messageConverter" class="info.gaofei.rabbitmq.mq.MyMessageConvertor"></bean>

    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="myRabbit"
                     message-converter="messageConverter"/>

    <!-- 消费者与队列绑定 -->
    <rabbit:listener-container connection-factory="connectionFactory" concurrency="30">
        <rabbit:listener queues="a" ref="aConsumer"/>
        <rabbit:listener queues="b" ref="bConsumer"/>
        <rabbit:listener queues="c" ref="cConsumer"/>
        <rabbit:listener queues="o" ref="otherConsumer"/>
    </rabbit:listener-container>

</beans>